/* COLOR PALLETTE 
DARK GREEN      #334B35
BEIGE           #F6EEE1
YELLOW          #FDAD16
BLACK           #000000
ORANGE          #FF5640
*/

body {
    margin:0px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #F6EEE1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}



/*     -----     -----     -----     -----     -----     -----     FONT FORMATTING     -----     -----     -----     -----     -----     -----*/
/* FONT FORMATTING */
a {
    text-decoration: none;
}

h1 {
    font-family: "DM Serif Text", serif;
}

p, li{
    font-size: 1.25em;
    text-align: justify;
}

.w {
    color:white;
    font-weight: 200;
    font-style: light;
}

h1.hello, h1.o {
    font-size: 4em;
    text-align: center;
    color: black;
    padding: 10px;
}

h1.o {
    color: #FDAD16;
    font-size: 2em;
    font-weight: 500;
}

.light {
    font-weight: 200;
}

.sectiongreen .container2 .orange h1, .sectiongreen .container2 .orange h2 {
    color: black;
}

/* portfolio title*/
h1.title {

    font-size: 8em;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #FDAD16;
    -webkit-text-fill-color: #334B35;
    text-align: center;
    text-shadow: 0px 1px 4px #23430C;
    padding: 100px 20px;

}

h2 {
    font-size: 1.25em;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.00em;
    text-align: center;
    color: white;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;

}

.sectiongreen h1, .sectiongreen p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.sectiongreen h2.light {
    font-weight: 500;
}

.sectionwhite h2, .sectionwhite h3, .sectionwhite ul li {
    color: black;
    text-align: left;
}

/*     -----     -----     -----     -----     -----     -----     SOCIALS     -----     -----     -----     -----     -----     -----*/
/* SOCIALS */
.social {
    font-size: 2em;
    color: white;
    padding: 10px;
    text-align: center;
}

/*     -----     -----     -----     -----     -----     -----     LIST     -----     -----     -----     -----     -----     -----*/

/* .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.header li {
    display: inline;
} */
ul {
    padding-inline-start: 0px;
}

ul li {
    list-style-type: none;
    text-align: center;
}

.sectionwhite ul, .orange ul {
    padding-inline-start: 40px;
}

.sectionwhite ul li, .orange ul li {
    display: list-item;
    list-style-type: disc;
    padding-left: 5px;
    list-style-position: outside;
    padding: 2px;
    text-align: justify;
}


/*     -----     -----     -----     -----     -----     -----     DIV BLOKCS      -----     -----     -----     -----     -----     -----*/
/*GENERAL LAYOUT*/
.sectiongreen, .sectionwhite, .sectionblack, .header, footer {
    padding: 20px; /*gives inside padding*/
    position: relative;
    background-color: white;
    align-content: center;
    height: auto;
}

/* SECTION ORANGE */
.orange {
    background-color:#FDAD16;
    border-radius: 20px;
    margin-left:100px;
    margin-right:100px;
}

/* SECTION GREEN*/
.sectiongreen {
    background-color: #334B35;
    color: #F6EEE1;
}

.sectiongreen .container2{
    align-items: center;
}

.sectiongreen .container2 .orange {
    padding: 5px 20px;
    color: black;
    width: 100%;
    margin-right:0px;
    margin-left:-20px;
    margin-top: 10px;
}

/* SECTION WHITE */
.sectionwhite {
    background-color: #F6EEE1;
}

.sectionblack {
    background-color: black;
    text-align: center;
}


/*     -----     -----     -----     -----     -----     -----     COLUMN DISPLAY     -----     -----     -----     -----     -----     -----*/
/* section 2 columns*/
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 5px;
    text-align: center;
    margin: 0px;
}

.rowspan {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

/*text*/
.sidenotes {
    border: none;
    height: 100%;
    float: right;
    position: relative;
    object-fit: scale-down;
    padding: 5px;
    text-align: center;
}





/*     -----     -----     -----     -----     -----     -----     IMAGE     -----     -----     -----     -----     -----     -----*/
/* IMAGE */
img.small{
    max-width: 800px;
    width: 100%;
    border: none;
    float: center;
    margin-right: auto;
    margin-left: auto;
}

/* FROM: https://www.w3schools.com/howto/howto_css_modal_images.asp
/* Style the Image Used to Trigger the Modal */

.sideimg {
    border: none;
    height: auto;
    /*float: right;
    position: relative;
    object-fit: scale-down;*/
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
}

img.side {
    width: 500px;
    margin: auto;
}

figure {
    border: 1px #cccccc solid;
    padding: 0px;
    margin: none;
}

figcaption {
    background-color: black;
    color: white;
    font-size: 1.25em;
    font-weight: 200;
    font-style: light;
    padding: 5px;
    text-align: center;
}


iframe {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    max-height: 2080px;
    margin: 0px;
    position: block;
}

/* MODAL IMAGES*/
.myImg {
    width: 100%;
    max-width: 1080px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 2000px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

embed {
    height: 100%;
}

/*     -----     -----     -----     -----     -----     -----     HEADER     -----     -----     -----     -----     -----     -----*/
/*HEADER SECTION SPECIFIC*/
.header {
    background-color: #334B35;
    color: #F3F3F3;
    font-size: 36px;
    padding: 20px;
    font-family: "DM Serif Text", serif;
}

.header a {
    color: #F3F3F3;
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

.header a.split {
    float: left;
}

a:hover {
    color: #FF5640;
}


/*SECTION SPECIFIC FORMATTING*/
.content {
    height: 900px;
}

.map {
    height: 500px;
}


/*     -----     -----     -----     -----     -----     -----     FOOTER     -----     -----     -----     -----     -----     -----*/
footer
{
    background-color:#334B35;
    padding:20px;
    font-size:15px;
    color:white;
    float: center;
    margin-right: auto;
    margin-left: auto;
}


